
@{
    ViewBag.Title = "Index";
}

<h1>The Calculator</h1>

<div class="container">

    <!-- Text box 1
    <input data-bind="value: firstValue" /> -->
    <div class="tbxContainer">
        <input data-bind="value: firstValue" type="text" />
        <spann class="error" data-bind="validationMessage: firstValue"></spann>
    </div>


    <!-- Dropdown Menu -->
    <div class="tbxContainer">
        <select class="menu" data-bind="options: math, value: symbol"></select>
    </div>

    <!-- Text box 2 -->
    <div class="tbxContainer">
        <input data-bind="value: secondValue" />
    </div>

    <span>=</span>

    <!-- Result text box -->
    <div class="tbxContainer">
        <input disabled="disabled" id="result" />
     </div>
 </div>


<spann class="error" data-bind="validationMessage: secondValue"></spann>
 @section scripts {
    <script src="~/Scripts/knockout.validation.min.js"></script>
    <script src="~/Scripts/calcultator.js"></script>
}
