
@{
    ViewBag.Title = "Index";
}

<h1>The Calculator</h1>

<div class="container">

    <!-- Text box 1 -->
    <div class="tbxContainer">
        <input class="tbx" data-bind="value: firstValue" type="text" />
        <spann class="error" data-bind="validationMessage: firstValue"></spann>
    </div>


    <!-- Dropdown Menu -->
    <div class="tbxContainer">
        <select class="menu" data-bind="options: mathOperation, value: dropdownMenu"></select>
    </div>

    <!-- Text box 2 -->
    <div class="tbxContainer">
        <input data-bind="value: secondValue" />
        <spann class="error" data-bind="validationMessage: secondValue"></spann>
    </div>

    <span>=</span>

    <!-- Result text box -->
    <div class="tbxContainer">
        <input disabled="disabled" id="result" data-bind="value: resultValue" />
    </div>
</div>

<!--
<div>
    <div class="tbxContainer">
        <input id="dummy" data-bind="value: dummyValue" />
    </div>
</div>
-->

 @section scripts {
    <script src="~/Scripts/calcultator.js"></script>
}
