
@{
    ViewBag.Title = "Database";
}

<h1>Database</h1>

<table>
    <thead> <!-- Adding the titles for the table -->
        <tr> 
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>

    <!-- Displays the values of the table -->
    <tbody data-bind="foreach: personList">
        <tr>
            <td data-bind="text: id"></td>
            <td><input data-bind="value: firstName" /></td>
            <td><input data-bind="value: lastName" /></td>
        </tr>
    </tbody>
</table>





@section scripts {
    <script src="~/Scripts/database.js"></script>
}