<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>First Project</title>

    <!-- Adding Fonts & Style Sheet-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <ul>    <!-- The buttons to load the pages -->
            <li>@Html.ActionLink("Calculator", "Index", "Calculator")</li>
            <li>@Html.ActionLink("Database", "Database", "Database")</li>
        </ul>
    </div>


    <div class="body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>